on: 
  release: 
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash
          echo "$HOME/.moon/bin" >> $GITHUB_PATH
        
      - name: moon version 
        run: |
          moon version --all
      - name: moon check
        run: |
          moon -C lib check --target all

      - name: moon test (lib)
        run: |
          moon -C lib test --target all

      - name: lint (lib)
        run: |
          moon -C lib fmt && git diff --exit-code
          moon -C lib info && git diff --exit-code

      - name: publish (lib)
        run: |
          echo $SECRET > ~/.moon/credentials.json
          cd lib && moon publish
          rm ~/.moon/credentials.json
        env:
          SECRET: ${{ secrets.MOONCAKES_MOONBITLANG_TOKEN }}
